  <div class="col-sm-4">
    <%= form.label :name, "Nombre del proyecto", :class => "form-label important" %>
    <%= form.text_field :name, :required => true, :class => "form-control" %>
  </div>
  <div class="col-sm-4">
    <%= form.label :category, "Categoría del proyecto", :class => "form-label important" %>
    <%= form.select :category, project_detail_category_options(), { prompt: 'Seleccionar categoría' }, :required => true, :class => "form-control" %>
  </div>
</div>

<div class="form-group row text-left">
  <div class="col-sm-4">
    <%= form.label :area, "Área temática", :class => "form-label important" %>
    <%= form.select :area, project_detail_area_options(), { prompt: 'Seleccionar área' }, :required => true, :class => "form-control" %>
  </div>
  <div class="col-sm-4">
    <%= form.label :client_type, "Cliente del proyecto", :class => "form-label important" %>
    <%= form.select :client_type, project_detail_client_type_options(), { prompt: 'Seleccionar tipo de cliente' }, :required => true, :class => "form-control" %>
  </div>
  
  
  <div class="col-sm-4">
    <%#= form.label :academic_level, "Nivel Académico Máximo de los integrantes del equipo", :class => "form-label important" %>
    <%#= form.select :academic_level, academic_level_options(), { prompt: 'Seleccionar nivel' }, :required => true, :class => "form-control" %>
  </div>
</div>



<div class="form-group row text-left">
  <div class="col-sm-12">
    <%= form.label :description, "Descripción", :class => "form-label important" %>
    <%= form.text_area :description, size: "10x6", :required => true, :class => "form-control" %>
  </div>
</div>

<div class="form-group row text-left">
  <div class="col-sm-2">
    <%= form.label :semestre_i, "Semestre i", :class => "form-label" %>
    <%= form.select :semestre_i, boolean_options(), {}, :class => "form-control" %>
  </div>
  
  <div class="col-sm-2">
    <%= form.label :social_impact, "Impacto social", :class => "form-label" %>
    <%= form.select :social_impact, boolean_options(), {}, { :class => "form-control",
                                                             :id => "social-impact-project-detail",
                                                             :onchange => "manageSocialImpactForm()" } %>
  </div>
