<div class="show-project-details">
  <div class="aside">
    <h5>PRESENTACIÓN</h5>
    <div>
      ID:
      <%= @project.id %>
    </div>
    <div>
      Stand:
      <%= display_project_stand(@project) %>
    </div>
    <div>
      Dia-Grupo:
      Monterrey - Lunes
    </div>
  </div>
  <div>
    <strong>Nombre:</strong>
    <%= project_detail.name %>
  </div>

  <div>
    <strong>Campus:</strong>
    <%= @project.institution.name %>
  </div>

  <div>
    <strong>Categoría:</strong>
    <%= project_detail.category %>
  </div>

  <div>
    <strong>Área temática:</strong>
    <%= project_detail.area %>
  </div>

  <div>
    <strong>Tipo de cliente:</strong>
    <%= display_project_detail_client_type(project_detail) %>
  </div>

  <div>
    <strong>Semestre i:</strong>
    <%= display_boolean_value(project_detail.semestre_i) %>
  </div>

  <div>
    <strong>Impacto social:</strong>
    <%= display_boolean_value(project_detail.social_impact) %>
  </div>
</div>

<div class="col-sm-12 description-section">
  <div class="card-text">
    <div class="card-info project-description">
    <strong>Descripción:</strong><br>
    <%= project_detail.description %> 
    </div>
  </div>
</div>