<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    

    <div class="row pb-0">

      <div class="col-md-4 login-sec">
        <img class="login-sec-logo" src="<%= asset_path( 'logo.jpg' ) %>" >
        <h2> Nueva cuenta</h2>
        <div class="field">
          <%= f.label :first_name, "Nombre(s)" %><br />
          <%= f.text_field :first_name, :class => "form-control"  %>
        </div>        
      </div>  

      <div class="col-md-4 login-sec-userable">
        <div class="field">
          <%= f.label :last_name, "Apellidos" %><br />
          <%= f.text_field :last_name, :class => "form-control"  %>
        </div>
      </div>

      <div class="col-md-4 login-sec-userable">
        <div class="field">
          <%= f.label :email, "Correo electrónico" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control"  %>
        </div>
      </div>

    </div>


    <div class="row mb-0 pb-0">

      <div class="col-md-4">
        <div class="field">
          <%= f.label :password, "Contraseña" %>
          <% if @minimum_password_length %>
          <em>(Mínimo <%= @minimum_password_length %> caracteres)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", :class => "form-control"  %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="field">
          <%= f.label :password_confirmation, "Confirmación de contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control"  %>
        </div>
      </div>
      <%= f.check_box :is_visitor, {:checked => true, :id => "isVisitor", :onchange => "manageUserableTypeRegistration()"} , true %>
      

    </div>

    <div class="row mb-0 pb-0">
      <div class="col-md-8">
        <div id='visitor-registration'>
          <%= render "devise/registrations/userable/visitor" %>
        </div>
      </div>
            <h6 class="mt-3 pl-3" >* Se le enviará un correo a la dirección proporcionada arriba para confirmar su cuenta con Conexión Tec.</h6>

    </div>
    


    <% if false %>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= f.label "Seleccione el rol o roles que tendrá: " %><br />
        <div class="field">
          <%= f.check_box :is_visitor, {:id => "isVisitor", :onchange => "manageUserableTypeRegistration()"}, true %>
          <%= f.label :is_visitor, "Visitante" %> <br>
          <%= f.check_box :is_student, {:id => "isStudent", :onchange => "manageUserableTypeRegistration()"}, true %>
          <%= f.label :is_student, "Estudiante" %> <br>
          <%= f.check_box :is_professor, {:id => "isProfessor", :onchange => "manageUserableTypeRegistration()"}, true  %>
          <%= f.label :is_professor, "Profesor" %> <br>
          <%= f.check_box :is_judge, {:id => "isJudge", :onchange => "manageUserableTypeRegistration()"}, true %>
          <%= f.label :is_judge, "Evaluador" %> <br>
          <%= f.check_box :is_staff_member, {:id => "isStaff", :onchange => "manageUserableTypeRegistration()"}, true %>
          <%= f.label :is_staff_member, "Miembro de Staff" %>  <br>
          <%= f.check_box :is_committee_member, {:id => "isCommitteeMember", :onchange => "manageUserableTypeRegistration()"}, true %>
          <%= f.label :is_committee_member, "Miembro de Comité" %> <br>
          <%= f.check_box :is_admin, {:id => "isAdmin", :onchange => "manageUserableTypeRegistration()"}, true %>
          <%= f.label :is_admin, "Administrador" %>  <br>
        </div>

      </div>
      <div class="col-md-8">
        <div id='student-registration'>
          <%= render "devise/registrations/userable/student" %>
        </div>

        <div id='professor-registration'>
          <%= render "devise/registrations/userable/professor" %>
        </div>

        <div id='judge-registration'>
          <%= render "devise/registrations/userable/judge" %>
        </div>

        
        

        <div class="field" id="institution">
          <%= f.label :institution_id, "Campus" %><br />
          <%= f.select :institution_id, institution_options().unshift(""), {:selected=>"", :disabled=>""}, :class => "form-control"  %>
        </div>

        
      </div>
    </div>
    <% end %>

    <div class="row">
      <div class="col-md-12 text-center mb-5">
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="actions">
            <%= f.submit "Crear cuenta", :class => "btn btn-outline-primary"%> <br><br>
            <%= link_to "Iniciar sesión ", new_session_path(resource_name) %><br />

          </div>
      </div>
    </div>
    
      
  <% end %>
</div>


