<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    

    <div class="row pb-0">

      <div class="col-md-4 login-sec">
        <img class="login-sec-logo" src="<%= asset_path( 'logo.jpg' ) %>" >
        <h2> Nueva cuenta</h2>
        <div class="field">
          <%= f.label :first_name, "Nombre(s)" %><br />
          <%= f.text_field :first_name, :class => "form-control"  %>
        </div>        
      </div>  

      <div class="col-md-4 login-sec-userable">
        <div class="field">
          <%= f.label :last_name, "Apellidos" %><br />
          <%= f.text_field :last_name, :class => "form-control"  %>
        </div>
      </div>

      <div class="col-md-4 login-sec-userable">
        <div class="field">
          <%= f.label :email, "Correo electrónico" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control"  %>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-md-4">
        <div class="field">
          <%= f.label :password, "Contraseña" %>
          <% if @minimum_password_length %>
          <em>(Mínimo <%= @minimum_password_length %> caracteres)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", :class => "form-control"  %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="field">
          <%= f.label :password_confirmation, "Confirmación de contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control"  %>
        </div>
      </div>

    </div>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= f.label "Seleccione el rol o roles que tendrá: " %><br />
        <div class="field">
          <%= f.check_box :is_student, {:id => "isStudent", :onchange => "manageUserableTypeRegistration()"}, true %>
          <%= f.label :is_student, "Estudiante" %> <br>
          <%= f.check_box :is_professor, {:id => "isProfessor", :onchange => "manageUserableTypeRegistration()"}, true  %>
          <%= f.label :is_professor, "Profesor" %> <br>
          <%= f.check_box :is_judge, {:id => "isJudge", :onchange => "manageUserableTypeRegistration()"}, true %>
          <%= f.label :is_judge, "Evaluador" %> <br>
          <%= f.check_box :is_committee_member, {:id => "isCommitteeMember", :onchange => "manageUserableTypeRegistration()"}, true %>
          <%= f.label :is_committee_member, "Miembro de Comité" %> <br>
          <%= f.check_box :is_admin, {:id => "isAdmin", :onchange => "manageUserableTypeRegistration()"}, true %>
          <%= f.label :is_admin, "Administrador" %> 
        </div>

      </div>
      <div class="col-md-8">
        <div id='student-registration'>
          <%= render "devise/registrations/userable/student" %>
        </div>

        <div id='professor-registration'>
          <%= render "devise/registrations/userable/professor" %>
        </div>

        <div id='judge-registration'>
          <%= render "devise/registrations/userable/judge" %>
        </div>

        <div class="field" id="institution">
          <%= f.label :institution_id, "Institución" %><br />
          <%= f.select :institution_id, institution_options(), {}, :class => "form-control"  %>
        </div>
        <div class="text-center m-3">
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="actions">
            <%= f.submit "Crear cuenta", :class => "btn btn-light"%>
          </div>
        </div>
      </div>
      </div>
    
      
  <% end %>
</div>


