<div class="card mx-auto" style="width: 68rem;">

  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h5 class="card-header">
      <strong>Mi Cuenta</strong>
    </h5>

    <div class="mb-2">
      <%= form.label :first_name, "Nombre(s)", :class => "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :first_name, :class => "form-control" %>
      </div>

      <%= form.label :last_name, "Apellido", :class => "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :last_name, :class => "form-control" %>
      </div>

      <%= form.label :institution_id, "Institución", :class => "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.select :institution_id, institution_options(), {}, :class => "form-control"  %>
      </div>

      <% if user.judge? %>
        <%= form.label :company, "Compañía", :class => "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.text_field :company, :class => "form-control" %>
        </div>
      <% elsif user.professor? %>
        <%= form.label :department, "Departamento", :class => "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= select_tag 'department', options_for_select(departments_options()) %>
        </div>
      <% elsif user.student? %>
        <%= form.label :major, "Carrera", :class => "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.text_field :major, :class => "form-control" %>
        </div>
        <%= form.label :student_code, "Matrícula", :class => "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.text_field :student_code, :class => "form-control" %>
        </div>
      <% end %>
      <% if current_user.administrator? and user.professor? or user.judge? or user.committee_member? %>
        <div class="col-sm-3 col-form-label">
          <%= form.label :is_committee_member, "Miembro del comité" %>
          <%= form.check_box :is_committee_member %>
        </div>
      <% end %>
    </div>

    <div class="col-sm-9 mb-2">
      <%= form.submit "Actualizar" ,:class => "btn btn-light" %>
    </div>
  <% end %>
</div>
