<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="content">
  <h1>Usuarios</h1>

  <table class="table table-borderless">
    <thead class="thead-light">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Rol</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td>
            <% if current_user.administrator? and user.professor? or user.judge?%>
              <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Pendiente de asignar como miembro del comité"></span>
            <% end %>
            <%= user.role %>
          </td>
          <td><%= link_to 'Editar usuario', user ,:class => "btn btn-light" %></td>
          <td><%= link_to 'Eliminar', user,:class => "btn btn-light"  , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Crear usuario', new_user_path %>
</div>
