<div class="container">
  <div class="row">
    <div class="col-md-4 login-sec">
      <img class="login-sec-logo" src="<%= asset_path( 'logo.jpg' ) %>" >
      <h2>Forgot your password</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Send", :class => "btn btn-light" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
    <div class="col-md-8 banner-sec">
      <%= render 'devise/shared/carousel' %>
    </div>
  </div>
</div>
