<div class="form-group col-sm-13 text-left">
  <%= form.label :problem, "Problema", :class => "form-label" %>
  <%= form.text_area :problem, :class => "form-control" %>
</div>

<div class="form-group col-sm-13 text-left">
  <%= form.label :empathy, "Empatía", :class => "form-label" %>
  <%= form.text_area :empathy, :class => "form-control" %>
</div>

<div class="form-group col-sm-13 text-left">
  <%= form.label :responsibility, "Responsabilidad", :class => "form-label" %>
  <%= form.text_area :responsibility, :class => "form-control" %>
</div>
