<div class="form-group row text-left">
  <div class="col-sm-12">
    <%= form.label :problem, "Problema", :class => "form-label" %>
    <%= form.text_area :problem, :class => "form-control" %>
  </div>
</div>

<div class="form-group row text-left">
  <div class="col-sm-12">
    <%= form.label :empathy, "Empatía", :class => "form-label" %>
    <%= form.text_area :empathy, :class => "form-control" %>
  </div>
</div>

<div class="form-group row text-left">
  <div class="col-sm-12">
    <%= form.label :responsibility, "Responsabilidad", :class => "form-label" %>
    <%= form.text_area :responsibility, :class => "form-control" %>
  </div>
</div>
