<h1>Social Impacts</h1>

<table>
  <thead>
    <tr>
      <th>Social Cause</th>
      <th>Social Commitment</th>
      <th>Integrity</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @social_impacts.each do |social_impact| %>
      <tr>
        <td><%= social_impact.social_cause%></td>
        <td><%= social_impact.social_commitment %></td>
        <td><%= social_impact.integrity %></td>
        <td><%= social_impact.project_id %></td>
        <td><%= link_to 'Show', social_impact %></td>
        <td><%= link_to 'Edit', edit_social_impact_path(social_impact) %></td>
        <td><%= link_to 'Destroy', social_impact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social Impact', new_social_impact_path %>
