<%= form_with(model: [@project, committee_evaluation], url: project_committee_evaluation_path, local: true) do |form| %>
  <% if committee_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(committee_evaluation.errors.count, "error") %> prohibited this committee_evaluation from being saved:</h2>

      <ul>
        <% committee_evaluation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="evaluation row" style="display:flex">
    <div class="col-sm-8">
      <%= render 'committee_evaluations/project_info', project: @project %>
    </div>
    <div class="col-sm-4">
      <div class="form-group row">
        <%= form.label :description, "Descripción", :class => "col-sm-6 col-form-label" %>
        <div class="col-sm-6">
          <%= form.number_field :description, min:0, max: 2, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :problem, "Problema", :class => "col-sm-6 col-form-label" %>
        <div class="col-sm-6">
          <%= form.number_field :problem,  min:0, max: 2, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :methodology, "Metodología", :class => "col-sm-6 col-form-label" %>
        <div class="col-sm-6">
          <%= form.number_field :methodology,  min:0, max: 2, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :feasibility, "Factibilidad", :class => "col-sm-6 col-form-label" %>
        <div class="col-sm-6">
          <%= form.number_field :feasibility, min:0, max: 2, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :results, "Resultados", :class => "col-sm-6 col-form-label" %>
        <div class="col-sm-6">
          <%= form.number_field :results, min:0, max: 2, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :impact, "Impacto", :class => "col-sm-6 col-form-label" %>
        <div class="col-sm-6">
          <%= form.number_field :impact, min:0, max: 2, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :score, "Ortografía", :class => "col-sm-6 col-form-label" %>
        <div class="col-sm-6">
          <%= form.number_field :ortography, min:0, max: 2, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :score, "Calificación", :class => "col-sm-6 col-form-label" %>
        <div class="col-sm-6">
          <%= form.number_field :score, min:0, max: 5, :class => "form-control" %>
        </div>
      </div>

      <div class="field">
        <%= form.hidden_field :project_id, :class => "form-control" %>
      </div>
      <div class="form-group row">
      <% if current_user.professor? && (@project.status == "registered" || @project.status == "disapproved"  || @project.status == "approved")%>
        <% if @project.status != "registered" && @project.status != "disapproved" %>
          <h5>¿Desea aprobar el proyecto?
          <%= check_box_tag :prueba, 0, true %>
          </h5>
         <% else %>
            <h5>¿Desea aprobar el proyecto?
            <%= check_box_tag :prueba, 1, false %>
            </h5>
         <% end %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit :Guardar, class: 'btn btn-light' %>
  </div>
<% end %>
