<%= form_with(model: [@project, committee_evaluation], url: project_committee_evaluation_path, local: true) do |form| %>
  <% if committee_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(committee_evaluation.errors.count, "error") %> prohibited this committee_evaluation from being saved:</h2>

      <ul>
        <% committee_evaluation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="evaluation row" style="display:flex">
    <div class="col-sm-8">
      <%= render 'committee_evaluations/project_info', project: @project %>
    </div>
    <div class="col-sm-4">
      <% if (current_user.committee_member? || current_user.administrator?)%>
            
            <% if (@project.status == "approved" || @project.status == "evaluated") && @project.status != "accepted" %>
              <%= render 'committee_evaluations/committee_form_fields', form: form %>
            <% end %>
      <% end %>
      
      <% if current_user.professor? && (@project.status == "registered" || @project.status == "disapproved"  || @project.status == "approved")%>
        <%= render 'committee_evaluations/professor_form_fields', form: form, project: @project %>
      <% end %>

      <div class="field">
        <%= form.hidden_field :project_id, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit :Guardar, class: 'btn btn-light' %>
  </div>
<% end %>
