<div class="row">
  <div class="form-group col-sm-12 text-left">
    <%= form.label :problem, "Problema", :class => "form-label" %>
    <%= form.text_area :problem, size: "12x4", :class => "form-control", disabled: current_user.is_professor?, :id => "problem-text", :onchange => "manageGlobalWordCount(['problem-text', 'methodology-text', 'feasibility-text', 'results-text', 'impact-text'], 'abstract-word-count')" %>
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-12 text-left">
    <%= form.label :methodology, "Metodología", :class => "form-label" %>
    <%= form.text_area :methodology, size: "12x4", :class => "form-control", disabled: current_user.is_professor?,  :id => "methodology-text", :onchange => "manageGlobalWordCount(['problem-text', 'methodology-text', 'feasibility-text', 'results-text', 'impact-text'], 'abstract-word-count')" %>
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-12 text-left">
    <%= form.label :feasibility, "Factibilidad", :class => "form-label" %>
    <%= form.text_area :feasibility,size: "12x4", :class => "form-control", disabled: current_user.is_professor?,  :id => "feasibility-text", :onchange => "manageGlobalWordCount(['problem-text', 'methodology-text', 'feasibility-text', 'results-text', 'impact-text'], 'abstract-word-count')" %>
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-12 text-left">
    <%= form.label :results, "Entregables", :class => "form-label" %>
    <%= form.text_area :results,size: "12x4", :class => "form-control", disabled: current_user.is_professor?, :id => "results-text", :onchange => "manageGlobalWordCount(['problem-text', 'methodology-text', 'feasibility-text', 'results-text', 'impact-text'], 'abstract-word-count')" %>
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-12 text-left">
    <%= form.label :impact, "Impacto", :class => "form-label" %>
    <%= form.text_area :impact, size: "12x4",:class => "form-control", disabled: current_user.is_professor?, :id => "impact-text", :onchange => "manageGlobalWordCount(['problem-text', 'methodology-text', 'feasibility-text', 'results-text', 'impact-text'], 'abstract-word-count')" %>
  </div>
</div>
<div class="row word-counter">
  <div class="col-sm-3">
    <%= form.label :abstract_word_count, "Contador de palabras:", :class => "form-label" %>
  </div>
  <div class="col-sm-2">
    <%= text_field_tag :abstract_word_count, "", class: 'form-control', :id => "abstract-word-count", :disabled => true %>
  </div>
</div>

