<p>
  <strong>Problema:</strong>
  <%= abstract.problem %>
</p>

<p>
  <strong>Metodología:</strong>
  <%= abstract.methodology %>
</p>

<p>
  <strong>Factibilidad:</strong>
  <%= abstract.feasibility %>
</p>

<p>
  <strong>Resultados:</strong>
  <%= abstract.results %>
</p>

<p>
  <strong>Impacto:</strong>
  <%= abstract.impact %>
</p>
