<div class="show-project-details">
  <div>
    <strong>Problema:</strong><br>
    <%= abstract.problem %>
  </div>

  <div>
    <br><strong>Metodología:</strong><br>
    <%= abstract.methodology %>
  </div>

  <div>
    <br><strong>Factibilidad:</strong><br>
    <%= abstract.feasibility %>
  </div>

  <div>
    <br><strong>Resultados:</strong><br>
    <%= abstract.results %>
  </div>

  <div>
    <br><strong>Impacto:</strong><br>
    <%= abstract.impact %>
  </div>
</div>
