<%= form_with(model: [@project, virtual_sample], url: project_virtual_sample_path, local: true) do |form| %>
  <% if virtual_sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(virtual_sample.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% virtual_sample.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="form-group row text-left">
    
    <div class="col-6">
      <%= form.label :icon_image, "Imagen de icono", :class => "col-sm-6 col-form-label" %>
      <%= form.file_field :icon_image %>

      <%= form.label :about_file, "Archivo Tecnico", :class => "col-sm-6 col-form-label" %>
      <%= form.file_field :about_file %>

      

      <%= form.label :images, "Imagenes adicionales", :class => "col-sm-6 col-form-label" %>
      <%= form.file_field :images, multiple: true %>

    </div>

    <div class="col-6">
      <%= form.label :video_link, "Link", :class => "col-sm-6 col-form-label" %>
      <%= form.text_field :video_link, min:0, max: 2, :class => "form-control" %>
    </div>
    
  </div>

  <div class="actions row text-center">
    <%= form.submit :Guardar, class: 'btn btn-light' %>
    <%= link_to 'Cancelar', projects_path, class: 'btn btn-light' %>
  </div>
<% end %>

