<div class="col-4">

    <div class="card" style=" background-image: url(<%= virtual_sample.pic4 %> ); 
              background-color: rgba(0,0,0,0.6);
              background-blend-mode: darken;" >

    <div class="project-card-header card-header" style="height: 90px;min-height: 90px; overflow: auto;">
      <div class="project-name text-center my-auto" style="overflow: hidden; color: white;">
        <h5><%= project_name(project) %></h5>
      </div>
    </div>
    <div class="img-card" >
      <% if virtual_sample.pic2 != nil %>
        <%= image_tag(virtual_sample.pic2, width: '100%', height: '300px') rescue index_image %>
        
      <% end %>


    </div>
    <div class="project-card-body">
      <div class="description-card" style="color: white;"><%= project_description(project) %> </div> 
      <div class="text-center">
        <hr>
        <%= link_to 'Más Información', project_virtual_sample_path(project), :class => "btn btn-light" %>
      </div>
    </div>

  </div>
</div>




