<div class="content">
  <h3>Catálogo de Muestras Virtuales</h3>
  <div>
    <%= form_tag filter_virtual_samples_path, method: :get, id: "virtual_sample_search", class: 'row', remote: true do %>
      <div class="col-5">
        <% filter_types = virtual_sample_filter_options().prepend(['Mostrar todos', 'no_filter']) %>
        <%= select_tag :filter_type, options_for_select(filter_types), id: "filter-by", class: 'custom-select', onchange: 'filterOptions()' %>
      </div>
      <div class="col-5" id="searchOptions" >
        <%= select_tag :filter_value, [], id: "filter-select", class: 'custom-select',  onchange: "getElementById('submit-btn').click();", :style => "display: none" %>
        <%= text_field_tag :filter_value, '', id: "filter-search", class: 'form-control', style: 'display: none;', onchange: "getElementById('submit-btn').click();", :style => "display: none"  %>
      </div>
      <div class="col-2 my-auto" style="display: none;">
        <%= submit_tag "Filter", name: nil, class: "btn btn-light", id: "submit-btn" %>
      </div>
    <% end %>
  </div>
  <div id="filtered-virtual-samples-container">
    <%= render 'virtual_samples/filtered-virtual_samples' %>
  </div>

</div>
