<!DOCTYPE html>
<html>
  <head>
    <title>ConexionTec</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body-gradient">
    <iframe src=  "<%= @link%>" width="100%" height="100%" allow="autoplay"></iframe>
  </body>

</html>





