<div class='content'>
  <div class='sample-header'>
    <h3><%= @project.project_detail.name %></h3>
    <%= link_to 'Back', virtual_samples_path, :class => 'btn btn-light float-left' %>
  </div>

  <div class='sample-description row'>
    <div class='col-3'> <%= image_tag(@virtual_sample.icon_image, width: '100%') rescue show_image %> </div>
    <div class='col-9'>
      <div class='sample-buttons'>
        <span> <%= @project.project_detail.category %> </span>
        <span> <%= @project.project_detail.type_of %> </span>
        <button class="btn float-right"> Ver archivo técnico </button>
      </div>
      <div class= "description" style="height: 180px;"> <p> <%= @project.project_detail.description %> </p> </div>
    </div>
  </div>

  <div class='sample-description row'>

    <% if @virtual_sample.video_file.attached? %>
      <div class='col-4'>
        <%= video_tag url_for(@virtual_sample.video_file), controls: true, class: 'media' %>
      </div>
    <% end %>
    <div class='col-3'> <%= image_tag(@virtual_sample.images.first, width: '100%') rescue show_image %> </div>
    <div class='col-3'> <%= image_tag(@virtual_sample.images.last, width: '100%') rescue show_image %> </div>
  </div>

  <!-- TODO remover esta "form" local y utilizar la propia del directorio "comments" -->
  <div class='sample-description row'>
    <div class='col'>
    <%= form_with(model: [@virtual_sample, @comments], url: project_virtual_sample_comments_path, local: true) do |form| %>
        <div class="form-group">
          <%= form.text_field :body, class: 'form-control' %>
          <%= form.button :Comentar, class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
  
  <!-- TODO remover esta lista de comentarios local y utlizarar el propio "index" del directorio "comments" -->
  <div class="sample-description row">
    <div class="col  align-self-center">
      <div class="page-header">
        <h2><small class="float-right"><%= @comments.count %> comentarios</small> Comentarios </h2>
      </div>

      <div class="comments-list">
        <% @comments.each do |comment| %>
          <div class="media">
               <div class="media-body">
                 <h4 class="media-heading user_name"><%= comment.user.first_name %> <%= comment.user.last_name %></h4>
                 <%= comment.body %>
               </div>
               <p class="float-right"><small><%= comment.created_at.strftime("%d/%m/%Y") %></small></p>
             </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <%= render 'update_status', project: @project %>

</div>
