<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Alta de proyecto</h1>
  <div class="form-group row text-left">

    <div class="col-sm-4">
      <%= form.label :institution_id, "Campus", :class => "form-label important" %>
      <%= form.select :institution_id, institution_options(), { prompt: 'Seleccionar campus' }, :class => "form-control" %>
    </div>
  <%= form.fields_for :project_detail do |project_detail| %>
    <%= render "project_details/form_shared", form: project_detail %>
  <% end %>
  

  <div id='social-impact-form' class="hidden">
    <h3>Impacto Social</h3>
    <%= form.fields_for :social_impact do |social_impact| %>
      <%= render "social_impacts/form_shared", form: social_impact %>
    <% end %>
  </div>

  <h3>Abstract</h3>
  <%= form.fields_for :abstract do |abstract| %>
    <%= render "abstracts/form_shared", form: abstract %>
  <% end %>

  <% if !current_user.student? %>
    <h3>Datos del estudiante responsable</h3>
    <div class="form-group col-sm-10 text-left">

      <%= form.label :selected_student_id, "Nombre", :class => "form-label" %>
      <%= form.select :selected_student_id, student_options(), { :include_blank => true }, :class => "form-control",:id => "student_option", :onchange => "set_info('selected-email','selected-major','selected-student_code','select_id','"+student_options().to_s+"')", :id => "select_id"%>
      <br>
      <div class="form-group col-sm-10 text-left">
        <%= form.label :email,"Email",:class => "form-label"%>
        <%= form.text_area :email, :class => "form-control", :id => "selected-email",:disabled => true, size: "1x1"%>
      </div>
      <div class="form-group col-sm-10 text-left">
        <%= form.label :major,"Carrera",:class => "form-label"%>
        <%= form.text_area :major, :class => "form-control", :id => "selected-major",:disabled => true, size: "1x1"%>
      </div>
      <div class="form-group col-sm-10 text-left">
        <%= form.label :student_code,"Matricula",:class => "form-label"%>
        <%= form.text_area :student_code, :class => "form-control", :id => "selected-student_code",:disabled => true, size: "1x1"%>
      </div>
    </div>
    
  <% end %>

  <% if !current_user.professor? %>
    <h3>Datos del profesor coordinador</h3>
    <div class="form-group col-sm-13 text-left">
      <%= form.label :professor_id, "Nombre", :class => "form-label" %>
      <%= form.select :professor_id, professor_options(), { :include_blank => true }, :class => "form-control" %>
    </div>
  <% end %>

  <div class="actions">
    <%= link_to 'Cancelar', projects_path, class: 'btn btn-light' %>
    <%= form.submit :Guardar, class: 'btn btn-primary' %>
  </div>
<% end %>
