<div class="projects card">
  <div class="proyect-card-header card-header row ">
    <div class="col-sm-4 project-name">
      <strong><%= project_name(project) %></strong>
    </div>
    <div class="col-sm-4" style="text-align:center">
      Status: <strong> <%= display_project_status(project) %></strong>
    </div>
    <div class="col-sm-4" style="text-align:right">
      Pre-Cal:<strong> 
      <% if project.committee_evaluation.present? %>
      <%= display_project_score(project) %>
      <% else %>
      No calificado 
      <% end %>
      </strong> 
    </div>
  </div>
  <div class="project-card-body">
    <div class="card-info project-description">
      <strong>Descripción:</strong>
      <%= project_description(project) %> 
    </div>
    <div class="card-info row">
      <div class="col-sm-6">
        <div class="card-text">
          <strong>Categoría:</strong>
          <%= project.project_detail.category %>
        </div>
        <div class="card-text">
          <strong>Area:</strong>
          <%= project.project_detail.area %>
        </div>
        <div class="card-text">
          <strong>Stand:</strong>
          <%= display_project_stand(project) %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card-text">
          <strong>Profesor:</strong>
          <%= display_project_professor_info(project) %>
        </div>
        <div class="card-text">
          <strong>Estudiante:</strong>
          <%= display_project_student_info(project) %>
        </div>
      </div>
    </div>
    <hr>
    <% if current_user.administrator? || (current_user.student? && project.status != "accepted") %>
      <td><%= link_to 'Editar', edit_project_path(project), :class => "btn btn-light" %></td>
    <% end %>
    <td><%= link_to 'Ver', project_path(project), :class => "btn btn-light" %></td>

    <% if current_user.administrator? || current_user.committee_member? || current_user.professor? %>
      <% if project.committee_evaluation.present? %>
        <td><%= link_to 'Editar calificación', edit_project_committee_evaluation_path(project), :class => "btn btn-light" %></td>
      <% else %>
        <td><%= link_to 'Calificar', new_project_committee_evaluation_path(project), :class => "btn btn-light" %></td>
      <% end %>
    <% end %>
    <% if ((project.accepted? && get_current_phase_name() == "Crear / Editar muestra") && (current_user.administrator? || current_user.student?)) %>
      <% if project.virtual_sample.present? %>
        <td><%= link_to 'Editar Muestra Virtual', edit_project_virtual_sample_path(project), :class => "btn btn-light" %></td>
      <% else %>
        <td><%= link_to 'Crear Muestra Virtual', new_project_virtual_sample_path(project), :class => "btn btn-light" %></td>
      <% end %>
    <% end %>
  </div>
</div>
