<div class="content">
  <h1>Proyectos</h1>
    <div class="col-sm-12 filters-container">
      <%= form_tag filter_projects_path, method: :get, class: 'row', remote: true do %>
        <div class="col-sm-3">
          <% filter_types = project_filter_options().prepend(['Filtrar por', 'no_filter']) %>
          <%= select_tag :filter_type, options_for_select(filter_types), id: "filter-by", class: 'custom-select', onchange: 'filterOptions()' %>
        </div>
        <div class="col-sm-3">
          <%= select_tag :filter_value, [], id: "filter-select", class: 'custom-select' %>
          <%= text_field_tag :filter_value, '', id: "filter-search", class: 'form-control', style: 'display: none;' %>
        </div>
        <div class="col-sm-3">
          <%= select_tag :status, options_for_select(project_status_options()), id: "filter-status", class: 'custom-select' %>
        </div>
        <div class="col-sm-1">
          <%= submit_tag "Filter", name: nil, class: "btn btn-light" %>
        </div>
        <div class="col-sm-2 newProject">
          <%= link_to 'Nuevo proyecto', new_project_path, :class => "btn btn-light text-body" %>
        </div>
      <% end %>
    </div>
    <div class="row projects-container" id="filtered-projects-container">
      <%= render 'projects/filtered-projects' %>
    </div>
  </div>
</div>
