<div class="content">
  <h1>Seleccionar Proyectos</h1><br />
  <%= form_tag update_selected_projects_path, :method => 'post' do %>
      <table class="table">
        <thead>
          <tr>
            <th>#</th> 
            <th>Nombre</th>
            <th>Profesor a Cargo</th>
            <th>Calificación</th>
            <th>Aceptar o Rechazar</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each_with_index do |project, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= project_name(project) %></td>
              <td><%= project_professor(project) %></td>
              <td><%= project_score(project) %></td>
              <% status_options = options_for_select(project_status_options_for_approval(project.id), "#{project.id}:#{project.status}") %>
              <td><%= select_tag 'selected_projects[]', status_options, class: 'form-control', disabled: current_user.is_professor? %></td>
              <td><%= link_to 'Ver', project %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <%= submit_tag "Guardar", class: 'btn btn-light' %>

  <% end %>


</div>