<div class="content">
  <div class="content-show">
    <h1>Detalles del proyecto</h1>
    <%= render "project_details/show_shared", project_detail: @project.project_detail %>

    <% if @project.social_impact.present? %>
      <h3>Impacto Social</h3>
      <%= render "social_impacts/show_shared", social_impact: @project.social_impact %>
    <% end %>

    <% if @project.abstract.present? %>
      <h3>Abstract</h3>
      <%= render "abstracts/show_shared", abstract: @project.abstract %>
    <% end %>

    <h3>Datos del estudiante responsable</h3>
    <p>
      <strong>Nombre:</strong>
      <%= project_student(@project) %>
    </p>

    <p>
      <strong>Correo electrónico:</strong>
      <%= project_student_email(@project) %>
    </p>

    <h3>Datos del profesor tutor</h3>
    <p>
      <strong>Nombre:</strong>
      <%= project_professor(@project) %>
    </p>

    <p>
      <strong>Correo electrónico:</strong>
      <%= project_professor_email(@project) %>
    </p>
  </div><br />
  <% if current_user.committee_member? || current_user.administrator? %>
    <%= link_to 'Estatus', project_status_path, :class => "btn btn-light" %>
    <%= link_to 'Mandar correo', mailing_center_path(id: @project.id), :class => "btn btn-light" %>
  <% else %>
    <%= link_to 'Proyectos', projects_path, :class => "btn btn-light" %>
  <% end %>
</div>
