<%= form_with(model: daysgroup, local: true) do |form| %>
  <% if daysgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daysgroup.errors.count, "error") %> prohibited this daysgroup from being saved:</h2>

      <ul>
        <% daysgroup.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :group %>
    <%= form.text_field :group %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
