<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @daysgroup.group %>
</p>

<p>
  <strong>Day:</strong>
  <%= @daysgroup.day %>
</p>

<%= link_to 'Edit', edit_daysgroup_path(@daysgroup) %> |
<%= link_to 'Back', daysgroups_path %>
