
  <div class="field">
    <%= phase.text_field :name, :class => "form-control", readonly: true %>
  </div>

  <div class="field">
    <%= phase.label :start_date , "Fecha de inicio", :class => "form-label" %>
    <%= phase.date_select :start_date, :class => "form-control" %>
  </div>

  <div class="field">
    <%= phase.label :end_date, "Fecha de termino", :class => "form-label" %>
    <%= phase.date_select :end_date, :class => "form-control" %>
  </div>