<div class="col-sm-9">
  <%= form.text_field :phase_name, :class => "form-control", readonly: true %>
</div>

<br />

<div class="col-sm-9">
  <%= form.label :start_date , "Fecha de inicio", :class => "form-label" %>
  <%= form.date_select :start_date, :class => "form-control" %>
</div>

<br />

<div class="col-sm-9">
  <%= form.label :end_date, "Fecha de termino", :class => "form-label" %>
  <%= form.date_select :end_date, :class => "form-control" %>
</div>
