<div style="width:100%;" class="nested-fields">
  <div class="time-limit">
    <div class="time-limit-field">
    <div class="field">
    <%= time_limit_form.text_field :name, :class => "phase-title", readonly: true %>
  </div>
    </div>
    <div class="time-limit-field">
      <div class=" field">
        <%= time_limit_form.label :start_date , "Fecha de inicio: ", :class => "form-label"%>
        <%= time_limit_form.datetime_select :start_date, :class => "form-control", :order => [:day, :month, :year], :default => { :hour => 23, :minute => 59 } %>
      </div>
    </div>
    <div class="time-limit-field">
      <div class="field">
        <%= time_limit_form.label :end_date, "Fecha de termino: ", :class => "form-label" %>
        <%= time_limit_form.datetime_select :end_date, :class => "form-control", :order => [:day, :month, :year], :default => { :hour => 23, :minute => 59 }%>
      </div>
    </div>
  </div>
</div>
