<p>
  <strong>Phase name:</strong>
  <%= @time_limit.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @time_limit.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @time_limit.end_date %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @time_limit.edition_id %>
</p>

<%= link_to 'Edit', edit_time_limit_path(@time_limit) %> |
<%= link_to 'Back', time_limits_path %>
