<div class="card mx-auto" style="width: 68rem;">

  <%= form_with(model: committee_member, local: true) do |form| %>
    <% if committee_member.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(committee_member.errors.count, "error") %> prohibited this committee_member from being saved:</h2>

        <ul>
          <% committee_member.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h5 class="card-header">
      <strong>Miembro de comité</strong>
    </h5>

    <div class="mb-2">
      <%= fields_for committee_member.get_user do |user_form| %>
        <%= form.label :first_name, "Nombre(s)", :class => "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= user_form.text_field :first_name, :class => "form-control" %>
        </div>
        <%= user_form.label :last_name, "Apellido", :class => "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= user_form.text_field :last_name, :class => "form-control" %>
        </div>
        <%= user_form.label :institution_id, "Institución", :class => "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= user_form.select :institution_id, institution_options(), {}, :class => "form-control"  %>
        </div>
        <% if committee_member.get_user.professor? %>
          <%= user_form.label :department, "Departamento", :class => "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= select_tag 'department', options_for_select(departments_options()) %>
          </div>
        <% end %>
      <% end %>
      <% if current_user.can_update_users? and committee_member.professor_or_judge_or_committee_member? %>
        <div class="col-sm-3 col-form-label mt-2">
          <%= form.label :can_approve_committee_members, "Puede aprobar" %>
          <%= form.check_box :can_approve_committee_members %>
        </div>
      <% end %>
    </div>

    <div class="col-sm-9 mb-2">
      <%= form.submit "Actualizar" ,:class => "btn btn-light" %>
    </div>
  <% end %>
</div>
